/* Phone screen */
@media screen and (max-width: 479px) {
    .input_div {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
    align-items: center;
    width: 70%;
    margin: auto;
  }
  .table-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
  }
  .embedding_slider_holder {
    /*width: 300px;*/
    width: 100%;
    margin: 2px;
    text-align: center;
  }
  .title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 2vh;
    vertical-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .toggle_words {
    display : inline-block;
  }
  .top_words {
    padding-top: 1%;
    color: rgb(51, 204, 51, .7);
    display : inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .least_words {
    color: rgb(255, 102, 102, .7);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .article_link {
    width:10px;
    color: black;
    /*padding-bottom: 5px;*/
    /*margin-bottom: 5px;*/
    /*line-height: 20px;*/
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  p {
    margin: 0px;
  }
  .logit {
    text-align: left !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }
  .publication {
    color : gray;
    text-align: left !important;
    font-weight: bold !important;
    font-style: italic;
    font-size: 15px;
  }
  th {
    color: black !important;
    font-weight: bold !important;
    font-size: 20px !important;
  }
  .spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .description {
    width: 70%;
    margin: auto;
    text-align: center;
    color: black !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding-top: 10px;
    margin-top: 30px;
  }
  .rank_results {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .mdl-layout__header-row {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  table {
    table-layout: fixed;
    width: 100%;
    margin: auto;
    border-style: hidden !important;
  }
  .mdl-layout__header {
    min-height: 0;
  }
  .mdl-layout__tab-bar {
    background-color: #ff9900 !important;
  }
  .info_link {
    color: #ff9900;
  }
  button {
    background: #ff9900 !important;
  }
  .mdl-layout__tab {
    color: white !important;
    font-weight: bold;
  }
  .mdl-layout__tab.is-active::after {
    background: black !important;
  }
  table tr {
    border-bottom: 2px gray;

    height: 100px !important;
    margin-bottom: 10px !important;
  }
  table th {
    border-bottom: none !important;
  }
  table td {
    height: 100px !important; 
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

/* Full-size screen */
.input_div {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex; 
  align-items: center;
  width: 70%;
  margin: auto;
}
.table-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
}
.embedding_slider_holder {
  /*width: 300px;*/
  width: 100%;
  margin: 2px;
  text-align: center;
}
.title {
  padding-bottom: 5px;
  margin-bottom: 5px;
  /*line-height: 20px;*/
  line-height: 2vh;
  vertical-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.top_words {
  padding-top: 1%;
  color: rgb(51, 204, 51, .7);
  display : inline-block;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.least_words {
  color: rgb(255, 102, 102, .7);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.toggle_words {
    display : inline-block;
  }
.article_link {
  width:10px;
  color: black;
  /*padding-bottom: 5px;*/
  /*margin-bottom: 5px;*/
  /*line-height: 20px;*/
  font-size: medium;
  text-decoration: none;
  font-weight: bold;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
p {
  margin: 0px;
}
.logit {
  text-align: left !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.publication {
  color : gray;
  text-align: left !important;
  font-weight: bold !important;
  font-style: italic;
  font-size: 15px;
}
th {
  color: black !important;
  font-weight: bold !important;
  font-size: 20px !important;
}
.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.description {
  width: 70%;
  margin: auto;
  text-align: center;
  color: black !important;
  font-weight: bold !important;
  font-size: 20px !important;
  padding-top: 10px;
  margin-top: 30px;
}
.rank_results {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.mdl-layout__header-row {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
table {
  table-layout: fixed;
  width: 100%;
  margin: auto;
  border-style: hidden !important;
}
.mdl-layout__header {
  min-height: 0;
}
.mdl-layout__tab-bar {
  background-color: #ff9900 !important;
}
.info_link {
  color: #ff9900;
}
button {
  background: #ff9900 !important;
}
.mdl-layout__tab {
  color: white !important;
  font-weight: bold;
}


.mdl-layout__tab.is-active::after {
  background: black !important;
}
table tr {
  border-bottom: 2px gray;
  height: 100px !important;
  margin-bottom: 10px !important;
}
table th {
  border-bottom: none !important;
}
table td {
  height: 100px !important; 
  word-wrap: break-word;
  /*white-space: pre-wrap; */
  overflow-wrap: break-word;
}



