.input_div {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
}

.table-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
}

.embedding_slider_holder {
  width: 600px;
  margin: 15px;
  text-align: center;
}

.title {
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 20px;
  vertical-align: center;
}

.top_words {
  color: rgb(51, 204, 51, .7);
}

.least_words {
  color: rgb(255, 102, 102, .7);
}

.article_link {
  color: black;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

p {
  margin: 2px;
}

.logit {
  text-align: left !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.publication {
  text-align: left !important;
  font-weight: bold !important;
  font-style: italic;
  font-size: 15px;
}

th {
  color: black !important;
  font-weight: bold !important;
  font-size: 20px !important;
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  width: 70%;
  margin: auto;
  text-align: center;
  color: black !important;
  font-weight: bold !important;
  font-size: 20px !important;
  padding-top: 10px;
  margin-top: 30px;
}

.rank_results {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}


.mdl-layout__header-row {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

table {
  width: 70%;
  margin: auto;
  border-style: hidden !important;
}

.mdl-layout__header {
  min-height: 0;
}

.mdl-layout__tab-bar {
  background-color: #ff9900 !important;
}

.info_link {
  color: #ff9900;
}

button {
  background: #ff9900 !important;
}

.mdl-layout__tab {
  color: white !important;
  font-weight: bold;
}

.mdl-layout__tab.is-active::after {
  background: black !important;
}

table tr {
  border-bottom: 2px dashed #ff9900;
  height: 100px !important;
  margin-bottom: 10px !important;
}

table th {
  border-bottom: none !important;
}

table td {
  height: 100px !important;
}